body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  background-color: #074468; 
  color: #1c768f; 
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

#form-container {
  width: 70%;
  padding: 30px;
  margin: 20px 5px;
  background-color: #fbf3f2;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #1c768f;
}

#survey-form {
  width: 100%;
}

h1, p {
  text-align: center;
  margin: 20px 0;
  color: #032539;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #032539;
}

input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1c768f;
  background-color: #fbf3f6;
  color: #1c768f;
  font-family: 'Poppins';
}

.radio-group,
.checkbox-group {
  margin-top: 5px; 
}

.radio-group label,
.checkbox-group label {
  display: inline-block; 
  margin-right: 10px;
  color: #1c768f;
}

.radio-group input[type='radio'],
.checkbox-group input[type='checkbox'] {
  margin-right: 5px;
}

#submit {
  background-color: #074468; 
  color: #fbf3f6; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #032539;
}
