body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #032539; 
  color: #1c768f; 
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

#form-container {
  width: 70%;
  padding: 30px;
  margin: 20px 5px;
  background-color: #fbf3f2; /* Slightly lighter blue background */
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #1c768f;
}

#survey-form {
  width: 100%;
}

h1, p {
  text-align: center;
  margin: 0 0 10px 0;
  color: #032539; /* White title */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px; /* Increased space between label and input */
  display: block;
}

input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1c768f; /* White border */
  background-color: #fbf3f6; /* Slightly lighter blue background */
  color: #1c768f; /* White text color */
}

select {
  appearance: none;
}

.radio-group,
.checkbox-group {
  margin-top: 5px; /* Add some space between options */
}

.radio-group label,
.checkbox-group label {
  display: inline-block; /* Display labels inline */
  margin-right: 10px; /* Add some space between radio buttons/checkboxes and labels */
}

.radio-group input[type='radio'],
.checkbox-group input[type='checkbox'] {
  margin-right: 5px;
}

#submit {
  background-color: #fa991c; /* Blue button */
  color: #fbf3f6; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #c06f05; /* Darker blue on hover */
}
