:root{
    --nav-height: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


@media only screen and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
} 

body{
    height: 100%;
    width: 100vw;
    color: #c4bfbf;
    background-color: black;
    font-family: "Oswald";
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

nav{
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: var(--nav-height);
    min-height: var(--nav-height);
    width: 100vw;
    background-color: black;
    font-family: "Oswald", sans-serif;
}

nav ul{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
}

nav li{
    padding: 0;
    white-space: nowrap;
}

nav a{
    position: relative;
    display: inline-block;
    color: gray;
    text-decoration: none;
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main-page{
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-height));
    width: 100vw;
    margin-top: calc(var(--nav-height) - 4%);
}

#main-page section{
    background-color: black;
    height: 100vh;
    min-height: 100vh;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

#information, #description{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 86%;
}

#information{
font-size: 12px;
}

#description{
    align-items: flex-end;
    width: 84%;
    margin-top: 20%;
    font-size: 11px;
}

#welcome-section h1{
    width: 100%;
    margin: 0;
    margin-top: 1%;
    white-space: nowrap;
    letter-spacing: 55%;
    line-height: 200px;
    font-size: 200px;
    text-align: center;
}

#design-section img{
    display: block; 
    width: 92%;
    margin: 2% auto 0 auto;
    border-radius: 10px;
    transform: scale(0.9);
}

#info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.top-half{
    width: 82%;
}

.top-half h1{
    line-height: 43px;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 3px;
    white-space: nowrap;
}

#info-section hr{
    height: 1px;
    width: 86%;
    margin: 2% auto 2% auto;
    border: none;
    background-color: #1b1b1b;
}

.bottom-half{
    display: flex;
    width: 86%;
    justify-content: space-between;
    font-size: 13px;
}

.right-half{
    display: flex;
    width: 60%;
}

.right-half p:nth-of-type(1){
    margin-right: 30%;
}

#projects-section{
    height: fit-content;
    width: 86%;
    margin: 0 auto;
}

p.title{
    margin: auto 0 auto 4%;
    padding-top: 7%;
    font-size: 13px;
    text-transform: uppercase;
}

.projects-section-container{
    display: grid;
    grid-template-rows: 9% repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(198, 197, 197);
    color: black;
}

.project-tile{
    min-height: 500px;
    transform: scale(0.90);
    font-size: 10px;
    text-transform: uppercase;
}

.image-container{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    border: 1px solid black;
    background: linear-gradient(45deg, gray, rgb(87, 78, 78));
}

#how-i-work-section{
    width: 86%;
    margin: 500px auto 0 auto;
    text-transform: uppercase;
}

#how-i-work-section p:nth-last-of-type(1){
    margin-bottom: 2%;
    font-size: 13px;
}

#how-i-work-section h1{
    margin-bottom: 5%;
    line-height: 43px;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 3px;
    white-space: nowrap;
}

#how-i-work-section hr{
    height: 1px;
    width: 100%;
    border: none;
    background-color: #1b1b1b;
}

.step{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    min-height: fit-content;
    margin-bottom: 1%;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
}

.step p{
    height: 100%;
    min-height: fit-content;
    width: 30%;
    margin: 1% auto;
    padding: 2% 0%;
}

#contact-section{
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 5% auto 0  auto;
    text-transform: uppercase;
}

#contact-section-top{
    display: flex;
    height: 50%;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
}

#contact-section-top-left{
    margin-right: 20%;
}

#contact-section-top-right{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    margin: 0 auto;
}

.contact-section-title{
    margin-bottom: 20%;
    font-weight: 500;
}

#contact-section-bottom{
    height: 50%;
    width: 100%;
}

#contact-section-bottom h1{
    width: 100%;
    font-size: 201px;
}

#contact-section-bottom hr{
    height: 1px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: #1b1b1b;
}

#contact-section-bottom div{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    font-size: 10px;
    font-weight: 300;
}
