@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #1b1b1b;
    color: #fff;
    font-family: Inter;
    text-rendering: optimizeSpeed;
    display: flex;
    flex-direction: row;
    margin: 2%;
}

nav{
    position: fixed;
    width: 25%;
    height: 100%;
    padding: 1%;
}

nav header{
    font-weight: bold;
    margin-bottom: 8%;
}

nav li {
    list-style-type: none;
    width: 100%;
    padding: 5%;
    border-left: 3px solid gray;
    line-height: 3px;
    margin-bottom: 8%;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
}

main{
    margin-left: 23%;
    flex: 2;  
}

main header::before{
    content: "# ";
}

main header{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

main section{
    width: 85%;
    margin: 0 auto 9% auto;
}

main p, main li {
    margin: 3% 0;
    font-weight: 200;
}

main ul, main ol{
   padding-left: 5%; 
}

pre{
    background-color: #232323;
    border-radius: 5px;
}



 
