*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen{
    *, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 100,
  'opsz' 50
}

span{
    margin-right: 10px;
}

form, #header-img{
    position: absolute;
}

header {
  position: fixed;
  top: 0px;
  width: 90vw;
  margin-top: 1%;
  background-color: white;
  border-bottom: 2px solid black;
}

nav{
    margin-left: 5%;
    margin-right: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

ul, header {
    display: flex;
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

li {
    margin-right: 20px; /* Adjust spacing between items */

}

a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

html{
    background-image: url(media/iceland-photo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main-page{
    background-color: white;
    height: 90vh;
    width: 90vw;
    margin: 1% auto;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 1% ;
}

.fake-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: 2%;
}

.fake-b{
    margin: auto 1%;
    padding: 1px;
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 50px;
    height: 40%;
    width: 45%;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}


.material-symbols-outlined{
    margin: auto 0 auto 1%;
    font-size: 100px;
}






